:root {
  --white: #ffffff;
  --navy: #2e2f42;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --slate: #434455;
  --ocean: #404bbf;
}
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  color: var(--slate);
  line-height: 1.5;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
/** ------------------HEADER------------------ */
.header-container {
  display: flex;
  align-items: center;
  padding: 14px 0;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-span {
  color: var(--navy);
}
.header-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy);
}
.header-links:hover,
.header-links:focus {
  color: #404bbf;
}
.header-contacts {
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--ocean);
}
.header-address {
  font-style: normal;
  display: flex;
  gap: 40px;
  margin-left: auto;
}

/** ------------------INDEX.HTML------------------ */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 188px 316px 292px 316px;
}
.page-title {
  font-weight: 700;
  font-size: 56px;
  color: var(--white);
  text-align: center;
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
}
.button-order-service {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  padding: 16px 42px;
  border-radius: 4px;
}
.button-order-service:hover,
.button-order-service:focus {
  background-color: var(--ocean);
}
.main-section {
  background-color: var(--navy);
}
.features-container {
  display: flex;
  padding: 120px 0;
  gap: 24px;
}
.features-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: calc((100% - 72px) / 4);
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy);
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.doing-container {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
.doing-items {
  width: calc((100% - 48px) / 3);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy);
  margin-bottom: 72px;
}
.team-section {
  background-color: var(--cloud);
}
.team-item {
  background-color: var(--white);
  width: calc((100% -72px) / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-container {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy);
  margin-top: 32px;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding-bottom: 32px;
}
/** ------------------PORTFOLIO.HTML------------------ */

.portfolio-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy);
}
.portfolio-text {
  letter-spacing: 0.02em;
}
.portfolio-button {
  cursor: pointer;
  background-color: var(--cloud);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/** ------------------FOOTER------------------ */

.footer {
  background-color: var(--navy);
}
.footer-span {
  color: var(--cloud);
}
.copyright {
  color: var(--cloud);
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-container {
  padding: 100px 0;
}
